<!--
                                                                                   $$$$$$\                      $$\
                                                                                  $$  __$$\                     $$ |
 $$$$$$$\  $$$$$$\   $$$$$$$\  $$$$$$$\ $$\   $$\        $$$$$$\   $$$$$$$\       $$ /  \__|$$\   $$\  $$$$$$$\ $$ |  $$\
$$  _____| \____$$\ $$  _____|$$  _____|$$ |  $$ |       \____$$\ $$  _____|      $$$$\     $$ |  $$ |$$  _____|$$ | $$  |
\$$$$$$\   $$$$$$$ |\$$$$$$\  \$$$$$$\  $$ |  $$ |       $$$$$$$ |\$$$$$$\        $$  _|    $$ |  $$ |$$ /      $$$$$$  /
 \____$$\ $$  __$$ | \____$$\  \____$$\ $$ |  $$ |      $$  __$$ | \____$$\       $$ |      $$ |  $$ |$$ |      $$  _$$<
$$$$$$$  |\$$$$$$$ |$$$$$$$  |$$$$$$$  |\$$$$$$$ |      \$$$$$$$ |$$$$$$$  |      $$ |      \$$$$$$  |\$$$$$$$\ $$ | \$$\
\_______/  \_______|\_______/ \_______/  \____$$ |       \_______|\_______/       \__|       \______/  \_______|\__|  \__|
                                        $$\   $$ |
                                        \$$$$$$  |
                                         \______/
..but I used less. 💅🏼
twitter: @vanessayuenn
-->

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="author" content="{{author}}">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  -------------------------------------------------- -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500|Roboto:300,400,700" rel="stylesheet">
  <link href="https://npmcdn.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="icon" type="image/png" href="/img/favicon.png" />

</head>
